
.standings-container {
  padding-top: 20px;
  float: left;
}

.row-container{
  padding-top: 5px;
}
.team-row{
  font-family: Arial;
  color: #EBE7E7;
  border-bottom: white solid 1px;

}

.team-name{
  color: #F3ECE2
}

