button{
  text-align: center;
  margin-left: 20px;
  // padding: 12px;
  font-size: 12px;
  font-family: Arial;
  color: white;
  height: 40px;
  width: 120px;
  border: white solid 1px;
  background: #1096C7;
  padding-bottom: 1px;
  border-radius: 3px;
}

button:hover {
  background: #15B2F0;
  cursor: pointer;
}

input{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: #DAD9D9;
  border: white solid 1px;
  margin: 5px;
  color: #24509C;
  height: 35px;
   width: 280px;
   padding: 5px;
}

input:focus {
  background-color: #F5F7F7;
  border: #18B7CC solid 4px;

}


::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #A3A2A2;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #A3A2A2;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #A3A2A2;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #A3A2A2;
}